
 nav > ul > li > a {
    text-decoration: none;
    color:black;
}

body{
    margin: 0 auto;
    text-align: center;
    width: 75%;
}

ul{
    list-style: none;   
}

  li:hover > a > p{
    background-color: #D52349;
}

  li > a > p {
    padding:1rem; 
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    margin: 0 auto;
    width: 50%;
    margin-bottom: 2rem;
}

p{
    color: #5D5D5D;
}

[type="button"]{
    color: white;
    font-size: large;
    border-radius: 3px;
}

.titulo{
    background-image:url(images/pic01.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 18rem;
}

.caja_titulo{
    background-color: #231F22;
    width: 40%;
    margin: 0 auto;
    height: 38%;
    padding-top: 0.3rem;
    
}
.caja_titulo h2{
    color: white;
}
.caja_titulo h3{
    color: #D52349;
}
.espacio{
    height: 27%;
}

.contenedor_inicio{
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    margin:0 auto;
}
.contenedor_inicio > div{
    padding: 1rem;
}

.contenedor_inicio > div > div > i{
    color: white;
    font-size: 3rem;
}


.rayo{
    margin-left: 1rem;
    margin-right: 1rem;
    box-shadow: 10px 0 10px 0 #EFEFEF;
}
.tuerca{
    box-shadow: 10px 0 10px 0 #EFEFEF;
}

.icono{
    width: 7rem;
    height: 6rem;
    clip-path: polygon(0 0, 100% 0%, 100% 74%, 50% 100%, 0 75%);
    margin: 0 auto;
    margin-top: 2rem;
    padding-top: 1rem;
}


    #icono_tuerca{
        background-color: #D52349;
    }
    #icono_rayo{
        background-color: #252122;
    }
    #icono_estrella{
        background-color: #827A7C;
    }

.botones_inicio [type="button"]{
    color:white;
    width: 13rem;
    height: 3rem;
    margin-top: 2rem;
    margin-left:0.2rem;
    margin-right: 0.2rem;
    margin-bottom: 3rem;
    border: none;
}
.get_started{
    background-color: #D52349;
}
.learn_more{
    background-color: #252122;

}

.inicio{
    margin-bottom: 3rem;
    border-bottom: solid 1px #CCCCCC;
}

.mi_portfolio{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap:2rem ;
    margin: 0 auto;
}

.mi_portfolio > div{
    background-color: white;
    padding-bottom: 3rem;
    margin-top: 2rem;
    border-bottom: solid 2px #CCCCCC;
    height: 30rem;
    
}

.mi_portfolio > div >img{
    width: 100%;
}

.gris{
    background-color: #F7F7F7;
    padding-top: 2rem;
}

.mi_portfolio > div > p{
    margin:1rem;
    text-align: left;
}

.mi_portfolio > div > [type="button"]{
    width: 10rem;
    height: 2.5rem;
    background-color: #252122;
    margin-right: 7rem;
    margin-top: 4rem;
}

.blog{
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1.5rem;
    text-align: left;
    margin-bottom: 2rem;
}

.blog > div > img{
    width: 99%;
}

.caja1_blog{
    background-color: white;
}

.caja2_blog{
    background-color: white;
}

.botones_blog{
    position: relative;
}

.botones_blog > [type="button"]{
    background-color: #D52349;
    bottom: 0;
    height: 3rem;

}

.botones_blog > [type="button"]:last-child{
    background-color: black;
    margin-left: 0.5rem;
}

form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    background-color: #e6d4d457;
    border: solid darkslategrey;
}

input{
    background-color: white;
}

textarea{
    background-color: white;
}


.negro{
    background-color: #252122;
    color: white;
    text-align: left;
    margin-top: 2rem;
}


.icono_meses{
    height: 3rem;
    width: 3.5rem;
    background-color: #D52349;
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    text-align: center;    
    margin-top: 1.5rem;
 
} 

.caja_1A > div > div > p{
    margin-top: 0.5rem;   
}

.caja_1A > div > div > h4{
    margin-bottom: 0.5rem;
    margin-top: 1.7rem;
}

.caja_1{
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding-left: 2rem;
    padding-right: 2rem;
   
    
}

.caja_1A{
    padding-right: 2rem;
}

.caja_1A > div {
    display: flex;
    column-gap: 1rem;   
}

.boton_final > [type="button"]{
    background-color: #D52349;
    border: none;
    color: white;
    width: 10rem;
    height: 3rem;
}

.caja_2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1rem;
    width: 100%;
    margin-left: 2rem;
    margin-right: 2rem;

}

.caja_2A > p , .caja_2B > p {
    text-decoration: underline;
    margin-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-bottom: solid 1px #e6d4d457; 
}

.caja_2A > p:last-child, .caja_2B > p:last-child{
    border:none; 
}  

.caja_2C {
    display: flex;
    flex-direction: column;
    padding-right: 4rem;
    padding-left: 2rem;
}


.jan_27 > .icono_meses > p{
    color: white;
}

.jan_23 > .icono_meses > p{
    color: white;
}

.jan_15 > .icono_meses > p{
    color: white;
}

.jan_12 > .icono_meses > p{
    color: white;
}

.jan_10 > .icono_meses > p{
    color: white;
}



.iconos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.iconos > div > img{
    width: 3rem;
}

.adress{
    border-bottom: solid 1px #e6d4d457;
}

.mail{
    border-bottom: solid 1px #e6d4d457;
}

.phone{
    border-top: solid 1px #e6d4d457;
}


.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #827A7C;
    border: solid 1px #827A7C;
    justify-content: space-between;
    /* padding-left: 6rem;
    padding-right: 6rem;
    padding-bottom: 6rem;
    padding-top: 6rem;    */
    position: 0 auto;
    width: 70%;
    margin: 0 auto;
    /* height: 3rem; */
    margin-bottom: 2rem;
    margin-top: 2rem;

}


.footer1 , .footer2{
    
    border-right: solid 1px;
}

.espacio2{
    background-color: 252122 ;
    height: 1rem;
}

.iconos > .balon > i{
    color: #D52349;
    font-size: 3rem;
}

.iconos > .facebook > i{
    color: #888888;
    font-size: 3rem;
}

.iconos > .twitter > i{
    color: #1D9BF0;
    font-size: 3rem;
}

.iconos > .tumbler > i{
    color: #2B4661;
    font-size: 3rem;
}

.iconos > .linkdin > i{
    color: #888888;
    font-size: 3rem;
}






    



   
@media only screen and (max-width: 980px){
    body{
        width: 100%;
    }
    .mi_portfolio{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    nav ul{
        width: 100%;
        padding-left: 0px;
    }
}
@media only screen and (max-width: 450px){
    .mi_portfolio{
        display: block;
    }
    .blog{
        display: block;
    }
    .caja_1{
        display: block;
    }
    .caja_2{
        display: block;
    }
    .contenedor_inicio{
        display: block;
    }
}