

a{
    text-decoration: none;
    color:black;
}

body{
    text-align: center;
}

ul{
    list-style: none;
    
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    margin: 0 auto;
    width: 50%;
}

.titulo{
    background-image:url(images/pic01.jpg);
    height: 18rem;
}

.caja_titulo{
    background-color: #231F22;
    width: 50%;
    margin: 0 auto;
}